.back {
    position: fixed;
    border: 1px solid rgb(160, 12, 12);
    bottom: 170px;
    right: 40px;
    padding: 3px 14px;
    background-color: rgb(160, 12, 12);
    color: #FFF;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
    box-shadow: 2px 2px 3px rgb(160, 12, 12);
    outline: none;
    z-index: 100;
}

.whatsapp-icon {
    margin-top: 16px;
}

/* for mobile */
@media screen and (max-width: 767px) {
    .whatsapp-icon {
        margin-top: 10px;
    }

    .back {
        width: 40px;
        height: 40px;
        bottom: 20px;
        right: 10px;
        font-size: 22px;
    }
}