*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  
}
body {
 
  background-color: honeydew;
}

  html{
    position: relative;
    min-height: 100%;
    overflow-x: hidden;
  }
 
    
  
    /* Small Devices, Tablets 
    @media only screen and (min-width : 593px) {
      html{
      width: 75%;
    }
    }

     Medium Devices, Desktops
    @media only screen and (min-width : 992px) {
      html{
        width: 50%;
    }
  }
   */